.chatbotimg{
    padding: 0;
    background-color: #8427E2;
    max-width: fit-content;
    border-radius: 40%;
}

.chatbotimg img{
    max-height: 50px;
}
.logomain{
    display: flex;
    width: 95%;
    padding: 10px;
}

.logomain h3{
    padding-top: 13px;
    padding-left: 3px;
    font-size: 24px;
}